<div class='container well'>
<div class='row'>
	<div class='span6'>
		<h3>
			IRCTC Reminder Details
		</h3>
	</div>
</div>
</div>
<div class='container well'>
<h4>Editing User details</h4>

<%= render 'form' %>

<%= link_to 'Show', @user_detail %> |
<%= link_to 'Back', user_details_path %>
</div>